// --------------------------------------------------------------
//          FADE BODY ANIMATION
// --------------------------------------------------------------

body {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
          animation: fadein 2s;
  }

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}




// --------------------------------------------------------------
//          TEXT RISE ANIMATION
// --------------------------------------------------------------


// h1 {
//   -webkit-animation: textrise 1s; /* Safari, Chrome and Opera > 11.1 */
//      -moz-animation: textrise 1s; /* Firefox < 16 */
//       -ms-animation: textrise 1s; /* Internet Explorer */
//           animation: textrise 1s;
// }
//
// .post {
//   -webkit-animation: textrise 1s; /* Safari, Chrome and Opera > 11.1 */
//      -moz-animation: textrise 1s; /* Firefox < 16 */
//       -ms-animation: textrise 1s; /* Internet Explorer */
//           animation: textrise 1s;
// }

// .textrise {
//   -webkit-animation: textrise 1s; /* Safari, Chrome and Opera > 11.1 */
//      -moz-animation: textrise 1s; /* Firefox < 16 */
//       -ms-animation: textrise 1s; /* Internet Explorer */
//           animation: textrise 1s;
// }
//
// @keyframes textrise {
//   0% {
//     opacity: 0;
//     -webkit-transform: translate3d(0, 20px, 0);
//     transform: translate3d(0, 20px, 0);
//   }
//   100% {
//     opacity: 1;
//     -webkit-transform: none;
//     transform: none;
//   }
// }









//
// .animatable {
//
//   /* initially hide animatable objects */
//   visibility: hidden;
//
//   /* initially pause animatable objects their animations */
//   -webkit-animation-play-state: paused;
//   -moz-animation-play-state: paused;
//   -ms-animation-play-state: paused;
//   -o-animation-play-state: paused;
//   animation-play-state: paused;
// }
//
// /* show objects being animated */
// .animate-in {
//   visibility: visible;
//
//   -webkit-animation-fill-mode: both;
//   -moz-animation-fill-mode: both;
//   -ms-animation-fill-mode: both;
//   -o-animation-fill-mode: both;
//   animation-fill-mode: both;
//
//   -webkit-animation-duration: 1s;
//   -moz-animation-duration: 1s;
//   -ms-animation-duration: 1s;
//   -o-animation-duration: 1s;
//   animation-duration: 1s;
//
//   -webkit-animation-play-state: running;
//   -moz-animation-play-state: running;
//   -ms-animation-play-state: running;
//   -o-animation-play-state: running;
//   animation-play-state: running;
// }
//
// .animate-out {
//   visibility: visible;
//
//   -webkit-animation-fill-mode: both;
//   -moz-animation-fill-mode: both;
//   -ms-animation-fill-mode: both;
//   -o-animation-fill-mode: both;
//   animation-fill-mode: both;
//
//   -webkit-animation-duration: 1s;
//   -moz-animation-duration: 1s;
//   -ms-animation-duration: 1s;
//   -o-animation-duration: 1s;
//   animation-duration: 1s;
//
//   -webkit-animation-play-state: running;
//   -moz-animation-play-state: running;
//   -ms-animation-play-state: running;
//   -o-animation-play-state: running;
//   animation-play-state: running;
//
//   -webkit-animation-direction: reverse;
//   -moz-animation-direction: reverse;
//   -ms-animation-direction: reverse;
//   -o-animation-direction: reverse;
//   animation-direction: reverse;
// }
//
// .animate-out:after {
//   content: '';
//   letter-spacing: inherit;
// }
//
// @-o-keyframes fadeInUp {
//     0% {
//         opacity: 0;
//         -o-transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 1;
//         -o-transform: translateY(0);
//     }
// }
//
// @keyframes fadeInUp {
//     0% {
//         opacity: 0;
//         transform: translateY(20px);
//     }
//
//     100% {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
//
// .animate-in.fadeInUp,
// .animate-out.fadeInUp {
//     -webkit-animation-name: fadeInUp;
//     -moz-animation-name: fadeInUp;
//     -o-animation-name: fadeInUp;
//     animation-name: fadeInUp;
// }
//
// .entry-content {
//   p,
//   h1,
//   h2,
//   h3,
//   h4,
//   img,
//   hr,
//   ol,
//   ol {
//     -webkit-animation: fadeInUp 1s;
//     -moz-animation: fadeInUp 1s;
//     -o-animation: fadeInUp 1s;
//     animation: fadeInUp 1s;
//   }
// }
