.btn {
  @include transition(.5s);
  padding: 6px 20px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 50px;
}

.btn-primary {
  color: #fff;
  background-color: $color-primary;
  border-color: $color-primary;

  &:hover,
  &:focus {
    background-color: shade($color-primary, 30);
    border-color: shade($color-primary, 30);
  }
}
