#comments {
	background-color: $color-gray-5;
}

.comments {
	background: #f9f9f9;
	border-top: solid 1px #eee;
    float: left;
	width: 100%;
}

.comments-wrap {
	width: 60%;
	margin: 0 auto;
	padding: 1% 0;
}

#comments-title {
 	padding: 5% 0 0 0;
 	margin: 0 0 0 0;
 // 	text-align: center;
}

#comments .comment-toggle:hover {
	background: #ebebeb ;
	cursor: pointer;
	 -webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

.comment #respond {
	margin-top: 0px;
	padding-bottom: 10px;
}

#respond {
  margin: 0 0 16% 0;
  padding: 0 0;

	h3 {
		display: none;
	}

	p {
		position: relative;
		margin-bottom: 15px;
	}

	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		background: $color-white;
		font: 16px/26px $serif;
		width: 100%;
		padding: 10px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-appearance:none;
		color: $color-gray-100;
		border: 1px solid $color-gray-40;
		border-radius: 2px;
		font-weight: 300;
	}

	.required {
		color: $color-red;
	}

	.comment-form-comment {
		width: 100%;
		display: inline-block;
	}

	input:focus,
	textarea:focus {
	    // outline: none;
	}
}

.commentlist #respond h3 {
	margin-top: 15px;
}

#commentform p {
	width: 100%;
}


#respond textarea {
    line-height: 22px;
    width: 100%;
}

#commentform #submit {
	background: $color-primary;
	color:$color-white;
	font-family: $sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding:10px 20px;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	letter-spacing: 1px;
	-webkit-transition: .5s ease-in;
	-moz-transition: .5s ease-in;
	-o-transition: .5s ease-in;
	transition: .5s ease-in;
	-webkit-appearance: none;

	&:hover {
		background-color: shade($color-primary, 30);
		border-color: shade($color-primary, 30);
		cursor: pointer;
		-webkit-transition: .5s ease-in;
		-moz-transition: .5s ease-in;
		-o-transition: .5s ease-in;
		transition: .5s ease-in;
	}
}

.form-allowed-tags {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	float: left;
	margin: 10px 0 25px 0;
	width: 100% !important;
}

.commentlist {
	list-style-type: none !important;
	counter-reset:li;
}

#show-comments {
	display: block !important;
}

.commentlist li {
	position: relative;
	float: left;
	width: 100%;
    padding: 0 0 5% 0;
    margin: 0 0 5% 0;
    border-bottom: solid 1px $color-gray-20;
    position: relative;
    list-style:none;
}

.commentlist > li:before {
    content: "0" counter(li);
    counter-increment:li;
    /* Position and style the number */
    position:absolute;
    font-family: $sans-serif;;
    left:-60px;
    top: -4px;
    color: $color-gray-20;
    font-size: 18px;
    font-weight: 600;
}

.children {
	margin-top: 5%;
}

.children li {
	padding-left: 5%;
	border-left: solid 1px $color-gray-20;
}

.children li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.comment-block {
    padding: 0;
}

.comment-text {
	position: relative;
	font: 16px/26px $sans-serif;

	a {
  	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, #4CCEAC 90%);
	}

	p {
		margin-bottom: 20px !important;
	}

	blockquote {
		font-size: 16px;

		&:after {
			display: none;
		}

		p {
			padding-left: 0;
			margin-bottom: 0 !important;
		}
	}
}

#comments .reply {
	margin-bottom: 0 !important;
}

.reply a {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #eee;
	color: #999;
	padding: 5px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
	opacity: .5;
}

.commentlist li:hover .reply a {
	opacity: 1;
}

.reply a:hover {
	color: $color-white;
	background: #555;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

.comments .children .reply { text-align: left }

#cancel-comment-reply-link {
	position: relative;
	color: #999;
  margin: 0 0 0 0;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

#cancel-comment-reply-link:hover {
	color: #555;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

#cancel-comment-reply-link i {
	font-size: 18px;
	color: #DD574C;
}

#cancel-comment-reply-link i:hover {
	color: #555;
	cursor: pointer;
}

.logged-in-as {
	float: left;
	width: 100% !important;
	font-size: 14px;
	margin: 5px 0 20px 0;
	font-weight: 400 !important;
	font-family: $sans-serif !important;
}

#comments .comment-notes {
	width: 100% !important;
	font-size: 14px;
	color: $color-gray-40;
	margin: 5px 0 20px 0;
	font-weight: 400;
	font-family: $sans-serif;
}

.comment-notes .required {
	position: relative !important;
	top: auto !important;
	right: auto !important;
}

.comment-awaiting-moderation {
  color: #555;
  font-weight: bold;
  font-size: 11px;
}

.vcard {
	width: 100%;
  float: left;

	img {
	  float: left;
		height: 32px;
		width: 32px;
		margin-top: 2px;
	}
}

.fn {
  float: left;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

	a {
		color: #555;
		background-image: none;
	}
}

.comment-info {
	margin-bottom: 20px;
	position: relative;
}

.comment-meta {
    float: left;
    margin: 0 0 0 12px;
    line-height: 11px;
}

.comment-time {
	text-transform: uppercase;
  font-size: 11px;
	letter-spacing: 2px;
	font-family: $sans-serif !important;
  color: $color-gray-40;
  display: inline-block;
  margin-top: 2px;
}

.comment-edit-link {
	font-size: 11px;
}

#comment-nav-below {
	display: inline-block;
	width: 100%;
	padding: 10px 10px 20px 10px;
	margin: -44px 0 20px 0;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid 1px $color-gray-20;
}

#comment-nav-below .nav-previous {
	float: left;
}

#comment-nav-below .nav-next {
	float: right;
}
