#comments {
	background-color: $color-gray-5;
}

.comments {
	background: #f9f9f9;
	border-top: solid 1px #eee;
    float: left;
	width: 100%;
}

.comments-wrap {
	width: 60%;
	margin: 0 auto;
	padding: 8% 0;
}

#comments-title {
	background: #f1f1f1;
 	padding: 5% 0;
 	margin: 0 0 0 0;
 	font-size: 26px;
 	font-weight: 500px;
 	text-align: center;
 	border-bottom: solid 1px #e7e7e7;
 	 -webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

#comments .comment-toggle:hover {
	background: #ebebeb ;
	cursor: pointer;
	 -webkit-transition: .07s ease-in;
	-moz-transition: .07s ease-in;
	-o-transition: .07s ease-in;
	transition: .07s ease-in;
}

#respond {
    margin: 0 0 15px 0;
    padding: 0 0;
}

.comment #respond {
	margin-top: 0px;
	padding-bottom: 10px;
}

#respond h3 {
	display: inline-block;
	margin: 0;
	font-size: 30px;
}

.commentlist #respond h3 {
	margin-top: 15px;
}

#respond label {
    color: #aaa;
}

#respond p {
	position: relative;
}

#respond .required {
	color: #E75353;
	display: none;
}

#respond p { margin-bottom: 15px }

#commentform p {
	width: 100%;
}

#respond input[type="text"], #respond textarea {
    color: #777;
    border: none;
    border: solid 1px #eee;
    border-bottom: solid 1px #ddd;
    background: #fff;
    font: 16px/26px 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    padding: 10px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance:none;
}

#respond .comment-form-comment {
	width: 100%;
	display: inline-block;
}

#respond input:focus, #respond textarea:focus {
    outline: none;
}

#respond textarea {
    line-height: 22px;
    width: 100%;
}

#commentform #submit {
	background: #DD574C;
	color:#fff;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	padding:10px 20px;
	border: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
	-webkit-appearance: none;
}

#commentform #submit:hover {
	background: #555;
	cursor: pointer;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

.form-allowed-tags {
	font-size: 14px;
	line-height: 20px;
	color: #999;
	float: left;
	margin: 10px 0 25px 0;
	width: 100% !important;
}

.commentlist {
	list-style-type: none !important;
	counter-reset:li;
}

#show-comments {
	display: block !important;
}

.commentlist li {
	position: relative;
	float: left;
	width: 100%;
    padding: 0 0 5% 0;
    margin: 0 0 5% 0;
    border-bottom: solid 1px #e7e7e7;
    position: relative;
    list-style:none;
}

.commentlist > li:before {
    content: "0" counter(li);
    counter-increment:li;
    /* Position and style the number */
    position:absolute;
    font-family: $sans-serif;;
    left:-60px;
    top: -4px;
    color: $color-gray-20;
    font-size: 18px;
    font-weight: 600;
}

.children {
	margin-top: 5%;
}

.children li {
	padding-left: 5%;
	border-left: solid 1px #e7e7e7;
}

.children li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.comment-block {
    padding: 0;
}

.comment-text {
	position: relative;
	font: 16px/26px 'Droid Serif', Georgia, serif;
}

.comment-text p {
	margin-bottom: 20px !important;
}

.comment-text blockquote {
	background: #eee;
	color: #888;
	padding-bottom: 7px;
}

.comment-text blockquote:after {
	display: none;
}

.comment-text blockquote p {
	padding-left: 0;
}

#comments .reply {
	margin-bottom: 0 !important;
}

.reply a {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 9px;
	font-weight: bold;
	letter-spacing: 1px;
	background: #eee;
	color: #999;
	padding: 5px 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
	opacity: .5;
}

.commentlist li:hover .reply a {
	opacity: 1;
}

.reply a:hover {
	color: #fff;
	background: #555;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

.comments .children .reply { text-align: left }

#cancel-comment-reply-link {
	position: relative;
	color: #999;
  margin: 0 0 0 0;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  -webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

#cancel-comment-reply-link:hover {
	color: #555;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	-o-transition: .1s ease-in;
	transition: .1s ease-in;
}

#cancel-comment-reply-link i {
	font-size: 18px;
	color: #DD574C;
}

#cancel-comment-reply-link i:hover {
	color: #555;
	cursor: pointer;
}

.comments .logged-in-as {
	float: left;
	font-size: 12px !important;
	text-transform: uppercase;
	color: #aaa;
}

.comments .logged-in-as a {
	color: #777;
}

.comments .logged-in-as a:hover {
	color: #555;
}

#comments .comment-notes {
	width: 100% !important;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #bbb;
	margin: 5px 0 20px 0;
	letter-spacing: 1px;
}

.comment-notes .required {
	position: relative !important;
	top: auto !important;
	right: auto !important;
}

.comment-awaiting-moderation {
  color: #555;
  font-weight: bold;
  font-size: 11px;
}

.vcard {
	width: 100%;
  float: left;

	img {
	  float: left;
		height: 32px;
		width: 32px;
		margin-top: 2px;
	}
}

.fn {
  float: left;
  font-style: normal;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;

	a {
		color: #555;

		&:hover {
			background: none;
			color: #777;
		}
	}
}

.comment-info {
	margin-bottom: 20px;
	position: relative;
}

.comment-meta {
    float: left;
    margin: 0 0 20px 12px;
    line-height: 11px;
}

.comment-time {
	text-transform: uppercase;
    font-size: 10px;
    color: #bbb;
    display: inline-block;
    margin-top: 6px;
}

.comment-time:hover {
	color: #999;
}

.comment-edit-link {
	font-size: 11px;
}

#comment-nav-below {
	display: inline-block;
	width: 100%;
	padding: 10px 10px 20px 10px;
	margin: -44px 0 20px 0;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: solid 1px #e7e7e7;
}

#comment-nav-below .nav-previous {
	float: left;
}

#comment-nav-below .nav-next {
	float: right;
}

// ==============================================
// NEW CLASSES
// ==============================================


.comment-content {
	display: inline-block;

	p {
		font-size: 18px;
	}
}

.says {
	display: none;
}

// Would rather remove this in wordpress.
// I belive we need to replace get_comment_link with get_comment_date
// .comment-meta time{
//     display: none;
// }
