.form-control {
  color: $color-gray-100;
  border: 1px solid $color-gray-40;
  border-radius: 50px;

  @include placeholder {
    color: $color-gray-20;
    font-style: italic;
  }
}

.email-form {
  width: 310px !important;
}

label {
    color: $color-gray-40;
		font-family: $sans-serif;
		font-weight: 400;
    font-size: 18px;
}
