@include generate-padding-classes(216);
@include generate-margin-classes(216);
@include generate-positioning-classes(216);

@include generate-percentage-widths;
@include generate-min-heights(600);
@include generate-min-widths(600);
@include generate-max-widths(2000);


body {
  background-color: $color-gray-100;
  overflow-x: hidden;
}

.inline-block { display: inline-block;}
.inline {display: inline;}
.block {display: block;}


.homepage h1 a {
  border-bottom-width: 6px;
}

.post h2 a {
  border-bottom: none;
}

ul {
  padding-left: 0;
}

.feature-image img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}
