@include generate-padding-classes(100);
@include generate-margin-classes(100);
@include generate-positioning-classes(1);

@include generate-percentage-widths;
@include generate-min-heights(1);
@include generate-min-widths(1);
@include generate-max-widths(1);

body {
  overflow-x: hidden;
  background-color: $color-gray-100;

  &.light-classes {
  background-color: $color-off-white;
  }
}

hr {
  width: 160px;
  height: 1px;
  background-color: $color-gray-20;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inline-block { display: inline-block;}
.inline {display: inline;}
.block {display: block;}


.homepage h1 a {
  border-bottom-width: 6px;
}

.post h2 a {
  border-bottom: none;
}

.feature-image img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5;
}

.container-post {
  margin: 0 auto;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;

  img {
    width: 160%;
    max-width: 992px;
    height: auto;
    margin-left: -30%;
    margin-right: -30%;
  }
}

@media only screen and (max-width : 768px){
  .container-post {

    img {
      width: 100%;
      margin-left: 0;
      margin-right: 0
    }
  }
}
