// --------------------------------------------------------------
//          PRIMARY
// --------------------------------------------------------------

.site-navigation {
  float: right;
  display: inline-block;
}

.menu-item {
  display: inline-block;

  a {
    margin: 0 15px;
    color: $color-gray-40;
    border-bottom: none;
  }
}

.site-title a {
  color: $color-white;
  text-decoration: none;
  border-bottom: none;
}


@media only screen and (max-width : 768px){
  .site-branding {
    text-align: center;
  }

  .site-navigation {
    float: none;
    text-align: center;
  }
}



// --------------------------------------------------------------
//          FOOTER
// --------------------------------------------------------------
.site-footer {
  background-color: $color-gray-95;
}
