// --------------------------------------------------------------
//          PRIMARY
// --------------------------------------------------------------
.site-branding {
  display: inline-block;

  a {
    font-weight: 400;    
  }
}

.main-navigation {
  float: right;
  display: inline-block;
}

.menu-item {
  display: inline-block;
  font-family: $sans-serif;

  a {
    margin: 0 15px;
    color: $color-gray-40;
    background-image: none;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}

.current-menu-item a {
  color: $color-white;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.site-title a {
  color: $color-white;
  text-decoration: none;
  background-image: none;
  font-family: $sans-serif;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}


@media only screen and (max-width : 768px){
  .site-branding {
    display: block;
    text-align: center;
  }

  .main-navigation {
    float: none;
    display: block;
    text-align: center;

    ul {
      padding: 0;
    }
  }
}



// --------------------------------------------------------------
//          FOOTER
// --------------------------------------------------------------

.light-classes {
  .site-footer {
    background-color: $color-gray-5;

    li.menu-item {
      a {
        color: $color-gray-100;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}

.site-footer {
  background-color: $color-gray-95;
}

.footer-menu {

  li.menu-item {
    display: list-item;
    list-style: none;

    a {
      margin: 0;
      color: $color-white;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }
}
