body {
  font-family: $sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;

  font-variant-ligatures: common-ligatures;
  font-feature-settings: "liga", "clig";
  -moz-font-feature-settings: "liga", "clig";
  -ms-font-feature-settings: "liga", "clig";
  -webkit-font-feature-settings: "liga", "clig";

  color: $color-white;

  &.light-classes {
    color: $color-gray-100;

    p {
      font-family: $serif;
      line-height: 1.5;
      font-weight: 300;
      margin-bottom: 3%;
    }

    ul,ol {
      font-family: $serif;
      line-height: 1.5;
      margin-bottom: 3%;
    }

    a {
      color: $color-gray-100
    }
  }
}

.sans-serif {font-family: $sans-serif;}
.serif {font-family: $serif;}

.text-center {text-align: center;}

a {
  @include transition(.5s);

  color: $color-white;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0) 93%, $color-primary 93%);

  &:hover,
  &:focus {
    color: $color-primary;
    text-decoration: none;
  }
}

h1 {
  font-family: $serif;
  font-weight: 600;
  font-size: 6.5rem;  
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $color-gray-40;
  margin: 0;
}

.post {
  .post-content ul,
  .post .post-content ol {
    margin: 0 0 4% 18px;
  }

  li {
    list-style-type: square;
    margin-bottom: 5px;
    margin-left: 30px;
    font-weight: 300;
  }
}
