// --------------------------------------------------------------
//          COLORS
// --------------------------------------------------------------
$color-gray-100: #14171C;
$color-gray-80: #424448;
$color-gray-60: #727477;
$color-gray-40: #A1A2A4;
$color-gray-20: #D0D1D2;

$color-white: #FFF;
$color-off-white: #FAFAFA;

$color-primary:#4CCEAC;

// --------------------------------------------------------------
//          TYPOGRAPHY
// --------------------------------------------------------------
$primary-font: "adelle-sans", "Helvetica Neue", sans-serif;


// --------------------------------------------------------------
//          MIXINS
// --------------------------------------------------------------
$spacer: 1px;
$multiplier: 12;
$box: $multiplier * 1px;
