// --------------------------------------------------------------
//          COLORS
// --------------------------------------------------------------
$color-gray-100: #14171C;
$color-gray-95: #202328;
$color-gray-80: #424448;
$color-gray-60: #727477;
$color-gray-40: #A1A2A4;
$color-gray-20: #D0D1D2;
$color-gray-5: #F3F3F3;

$color-white: #FFF;
$color-off-white: #FAFAFA;

$color-primary:#4CCEAC;

$color-red: #FA4F4F;

// --------------------------------------------------------------
//          TYPOGRAPHY
// --------------------------------------------------------------
$sans-serif: "adelle-sans", "Helvetica Neue", sans-serif;
$serif:"leitura-news", georgia, serif;


// --------------------------------------------------------------
//          MIXINS
// --------------------------------------------------------------
$spacer: 1px;
$spacer-vh: 1vh;
$multiplier: 12;
$box: $multiplier * 1px;
